# Large data files
soilgrids_italy/
*.nc
*.tif

# Python & Environment
__pycache__/
*.pyc
.venv/
env/
venv/
.ipynb_checkpoints/

# LaTeX build artifacts
relazione/*.aux
relazione/*.log
relazione/*.out
relazione/*.toc
relazione/*.synctex.gz
relazione/*.fdb_latexmk
relazione/*.fls

# OS
.DS_Store
